body{
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}
.container{
    width: 400px;
    height: 90%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.four_quarter{
    width: 100%;
}
.three_quarter{
    width: 74.5%;
}
.half{
    width: 49.5%;
}
.quarter{
    width: 24.5%;
}
.right-row{
    background-color: #df974c;
    margin-left: .5%;
    color: white;
}
.right-row:hover{
    background-color: #e8b37b;
}
.right-row:active{
    background-color: #b17332;
}
#result_field{
    background-color: black;
    text-align: right;
    color: white;
    outline: none;
    border: none;
    font-size: 2em;
    font-family: monospace;
    padding: 0;
    margin: 0;
}
button{
    background-color: #d8d9db;
    margin-bottom: .5%;
    border: none;
    outline: none;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0;
    margin-top: .5%;
    margin-bottom: 0;
}
button:hover{
    background-color: #eeeeef;
}
button:active{
    background-color: #9a9da2;
}